[Unit]
Description=Jenkins Agent
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory={{ agent_work_dir }}
ExecStart=/usr/bin/java -jar /usr/local/bin/agent.jar \
  -url https://{{ jenkins_url }} \
  -webSocket \
  -noCertificateCheck \
  -secret {{ agent_secret}} \
  -name agent-{{ inventory_hostname }} \
  -workDir {{ agent_work_dir }}
Restart=always
RestartSec=10
Environment=JAVA_OPTS=-Djava.awt.headless=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target