{# templates/containerd-http-proxy.conf.j2 #}
[Service]
Environment="HTTPS_PROXY={{ containerd_proxy_url }}"
Environment="HTTP_PROXY={{ containerd_proxy_url }}"
Environment="NO_PROXY={{ containerd_no_proxy | join(',') }}"