- name: add {{ container_name }} url to hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    line: "{{ ansible_default_ipv4.address }} {{ jenkins_url_address }}"
    state: present

- name: check if runing jenkins in docker
  community.docker.docker_container_info:
    name: "{{ container_name }}"
  register: container_status
  ignore_errors: true

- name: get service facts
  ansible.builtin.service_facts:

- name: install jenkins with docker
  ansible.builtin.include_tasks:
    jenkins-install.yaml
  # when: container_status.exists == false or container_status.container.State.Running == false

<<<<<<< HEAD
- name: add nginx config for jenkins
=======
- name: Ñconfig nginx
>>>>>>> 71329b6 (fix)
  ansible.builtin.include_tasks: nginx-config.yaml
  




      
