upstream nexus {
  keepalive 32;
  server 127.0.0.1:8081;
  keepalive_timeout 60s;
}

upstream registry {
  keepalive 32;
  server 127.0.0.1:8082;
  keepalive_timeout 60s;
}

server {
    listen 80;
    server_name {{ nexus_url_address }};

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 80;
    server_name {{ registry_url_address }};

    location / {
        return 301 https://$host$request_uri;
    }
}


server {
  listen          443 ssl;
  server_name     {{ nexus_url_address }}.site;
  access_log      /var/log/nginx/nexus.access.log;
  error_log       /var/log/nginx/nexus.error.log;

  client_max_body_size 2048M;

  # SSL
  include snippets/self-signed.conf;
  include snippets/ssl-params.conf;


  location / {
      sendfile off;
      proxy_pass         http://nexus;
      proxy_http_version 1.1;

      proxy_set_header   Host              $host;
      proxy_set_header   X-Real-IP         $remote_addr;
      proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
      proxy_set_header   X-Forwarded-Proto $scheme;
      proxy_set_header X-Forwarded-Port    $server_port;
      proxy_max_temp_file_size 0;
      add_header 'Access-Control-Allow-Origin' '*' always;


      #this is the maximum upload size
      client_max_body_size       10m;
      client_body_buffer_size    128k;

      proxy_connect_timeout      90;
      proxy_send_timeout         90;
      proxy_read_timeout         90;
      proxy_request_buffering    off;

      proxy_redirect off;
      proxy_buffering off;
  }
}

server {
  listen          443 ssl;
  server_name     {{ registry_url_address }};
  access_log      /var/log/nginx/registry.access.log;
  error_log       /var/log/nginx/registry.error.log;

  client_max_body_size 2048M;

  # SSL
  include snippets/self-signed.conf;
  include snippets/ssl-params.conf;


  location / {
      sendfile off;
      proxy_pass         http://registry;
      proxy_http_version 1.1;

      proxy_set_header   Host              $host;
      proxy_set_header   X-Real-IP         $remote_addr;
      proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
      proxy_set_header   X-Forwarded-Proto $scheme;
      proxy_set_header X-Forwarded-Port    $server_port;
      proxy_max_temp_file_size 0;
      add_header 'Access-Control-Allow-Origin' '*' always;


      proxy_connect_timeout      90;
      proxy_send_timeout         90;
      proxy_read_timeout         90;
      proxy_request_buffering    off;

      proxy_redirect off;
      proxy_buffering off;
  }
}