credentials:
  system:
    domainCredentials:
    - credentials:
      - basicSSHUserPrivateKey:
          scope: SYSTEM
          id: ubuntu-agent-ssh
          username: {{ username }}
          description: "SSH passphrase with private key file."
          privateKeySource:
                directEntry:
                  privateKey: "${readFile:{{ ssh_dir }}/{{ agent_ssh_key }}}"
    {% if sonarqube -%}
    - credentials:
      - string:
          scope: GLOBAL
          id: "sonarqube_token"
          secret: {{ sonar_token}}
          description: "Sonar token"
    {%- endif %}

unclassified:
  location:
    url: http://{{ jenkins_url_address }}
  {% if sonarqube -%}
  sonarglobalconfiguration:                  
    buildWrapperEnabled: true
    installations:                           
      - name: "sonarqube"                         
        serverUrl: {{  sonarqube_url}}
        credentialsId: sonarqube_token       
  {%- endif %}

jenkins:
  systemMessage: "Jenkins configured automatically by Jenkins Configuration as Code plugin"
  numExecutors: 0
  securityRealm:
    local:
      allowsSignup: false
      users:
      - id: "admin"
        password: "admin"
  nodes:
  - permanent:
      labelString: "ubuntu-agent"
      mode: NORMAL
      name: "ubuntu-agent"
      remoteFS: "/home/{{ username }}/jenkins-agent"
      launcher:
        ssh:
          host: {{ hostvars[groups['jenkins-agent'][0]].ansible_default_ipv4.address }}
          port: 22
          credentialsId: ubuntu-agent-ssh
          launchTimeoutSeconds: 60
          maxNumRetries: 3
          retryWaitTime: 30
          sshHostKeyVerificationStrategy:
            manuallyTrustedKeyVerificationStrategy:
              requireInitialManualTrust: false
# Tool Configuration
tool:
  git:
    installations:
      - name: "Default"
        home: "/usr/bin/git"

  {% if maven_enable | default(false) -%}
  maven:
    installations:
      - name: maven3
        properties:
          - installSource:
              installers:
                - maven:
                    id: "3.8.4"
  {%- endif %}

  {% if java_enable | default(false) -%}
  jdk:
    installations:
      - name: jdk11
        properties:
          - installSource:
              installers:
                - adoptOpenJdkInstaller:
                    id: "jdk-11.0.14+9"
  {%- endif %}
  sonarRunnerInstallation:
    installations:
    - name: "Sonar"
      properties:
      - installSource:
          installers:
          - sonarRunnerInstaller:
              id: "7.1.0.4889"

  