#cloud-config
write_files:
- path: /etc/environment
  content: |
    %{ for key,value in env_vars ~}
    ${key}="${value}"
    %{ endfor ~}

runcmd:
- chmod 644 /etc/environments
- source /etc/environment
