- name: Download containerd binary archive
  ansible.builtin.get_url:
    url: "{{ containerd_url }}"
    dest: "/tmp/containerd-{{ containerd_version }}.tar.gz"
    mode: '0644'

- name: Extract containerd binaries to /usr/local
  ansible.builtin.unarchive:
    src: "/tmp/containerd-{{ containerd_version }}.tar.gz"
    dest: /usr/local
    remote_src: yes
    creates: /usr/local/bin/containerd

- name: Download containerd.service systemd unit
  ansible.builtin.get_url:
    url: "{{ containerd_service_url }}"
    dest: /etc/systemd/system/containerd.service
    mode: '0644'

- name: Download and install runc
  ansible.builtin.get_url:
    url: "{{ runc_url }}"
    dest: /usr/local/bin/runc
    mode: '0755'

- name: Create /etc/containerd directory
  ansible.builtin.file:
    path: /etc/containerd
    state: directory
    mode: '0755'

- name: Create folder certs.d for custom registry
  ansible.builtin.file:
    path: /etc/containerd/certs.d
    state: directory
    mode: '0755'

- name: Enable dockerhub mirror on containerd
  when: dockerhubMirror is true
  ansible.builtin.file:
    path: /etc/containerd/certs.d/docker.io
    state: directory
    mode: u=rw,g=r,o=r

- name: Enable dockerhub mirror on containerd [file hosts.toml]
  when: dockerhubMirror is true
  ansible.builtin.template:
    src: hosts.toml.j2
    dest: /etc/containerd/certs.d/docker.io/hosts.toml
    owner: root
    mode: u=rw,g=r,o=r

- name: Create containerd config.toml
  ansible.builtin.shell: /usr/local/bin/containerd config default > /etc/containerd/config.toml

- name: Add cgroup v2 [config.toml]
  ansible.builtin.shell: |
    sed -i 's|SystemdCgroup = false|SystemdCgroup = true|' /etc/containerd/config.toml

- name: Add conf dir /etc/containerd/certs.d [config.toml]
  ansible.builtin.shell: |
    sudo grep -A1 -lZR registry] /etc/containerd/config.toml | xargs -0 -l sudo sed  -i 's/config_path \= ""/config_path = "\/etc\/containerd\/certs.d"/g'

- name: Add change Sandbox Image [config.toml]
  when: sandbox_image is defined
  ansible.builtin.shell: |
    sed -i 's|sandbox_image = ".*"|sandbox_image = "{{ sandbox_image }}"|' /etc/containerd/config.toml

- name: restart containerd
  ansible.builtin.service:
    name: containerd
    state: restarted
    daemon_reload: true
    enabled: true
