services:
  nexus:
    image: {{ nexus_image }}:{{ nexus_image_version }}
    container_name: {{ nexus_container_name }}
    labels:
    # --- Веб-интерфейс Nexus ---
      - "traefik.enable=true"
      - "traefik.http.routers.{{ nexus_container_name }}.rule=Host(`{{ nexus_domain_name }}`)"
      - "traefik.http.routers.{{ nexus_container_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ nexus_container_name }}.tls.certresolver=le"
      - "traefik.http.services.{{ nexus_container_name }}.loadbalancer.server.port={{ nexus_web_port}}"
      - "traefik.http.routers.{{ nexus_container_name }}.service={{ nexus_container_name }}" 
    # --- Docker Registry ---
      - "traefik.http.routers.{{ registry_name }}.rule=Host(`{{ registry_domain_name }}`)"
      - "traefik.http.routers.{{ registry_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ registry_name }}.tls.certresolver=le"
      - "traefik.http.services.{{ registry_name }}.loadbalancer.server.port={{ repo_port}}"
      - "traefik.http.routers.{{ registry_name }}.service={{ registry_name }}" 
    volumes:
      - nexus-data-volume:/nexus-data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "{{ nexus_url }}/{{ status_check }}"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 120s
    ports:
      - {{ nexus_web_port}}:{{ nexus_web_port}} 
      - {{ repo_port}} 
    networks:
      - {{ docker_network_name }}

volumes:
  nexus-data-volume:

networks:
  {{ docker_network_name }}:
    external: true