- name: Copy template kubeadm
  ansible.builtin.template:
    src: "kubeadm-config.j2"
    dest: "/tmp/kubeadm-config.yaml"

- name: Kubeadm init
  ansible.builtin.command: kubeadm init --config /tmp/kubeadm-config.yaml
  changed_when: false
  when: not ebpf_enabled

- name: Kubeadm init ebpf
  ansible.builtin.command: kubeadm init --config /tmp/kubeadm-config.yaml --skip-phases=addon/kube-proxy
  changed_when: false
  when: ebpf_enabled

- name: Create `.kube` directory
  ansible.builtin.file:
    path: "{{ home_kube_dir }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Create link to configuration
  ansible.builtin.file:
    src: "{{ base_kube_conf_dir }}"
    dest: "{{ home_kube_dir }}/config"
    state: link
    owner: "{{ username }}"

- name: Read kubeconfig content
  ansible.builtin.slurp:
    src: "{{ base_kube_conf_dir }}"
  register: kubeconfig_content
  failed_when: kubeconfig_content.content is not defined

- name: Create local `.kube` directory on host
  ansible.builtin.file:
    path: "{{ local_kubeconfig_dir }}"
    state: directory
  delegate_to: localhost
  become: false

- name: Create local kubeconfig on host
  ansible.builtin.copy:
    content: "{{ kubeconfig_content.content | b64decode }}"
    dest: "{{ local_kubeconfig_dir }}/config"
  delegate_to: localhost
  become: false
  when: kubeconfig_content.content is defined
